.button {
  padding: 0.25rem 0.75rem;
  background-color: rgb(1,1,1);
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  display: inline-block;
  font-weight: 400;
  transition: transform 0.45s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.button:hover {
  transform: translate(2px,2px);
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.button:active {
  transform: scale(.98);
}