.button {
  padding: 10px 10px;
  background-color: rgb(1, 1, 1);
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  font-size: var(--font-size-normal);
  display: inline-block;
  font-weight: 400;
  transition: transform 0.45s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  &:hover {
    transform: translate(2px, 2px);
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  &:active {
    transform: translate(2px, 4px);
  }
}
