.getQuestdb {
  margin-left: 40px;
  font-size: var(--font-size-small);
}

.brand {
  /* display: block;
  width: 150px;
  margin-right: var(--ifm-navbar-item-padding-horizontal);
  border: 0;
  overflow: hidden;
  text-indent: -999px;
  white-space: nowrap; */
  padding: 10px 0;
  /* background-image: url("../../../static/img/logo.png");
  background-size: 100% 100%;
  background-repeat: no-repeat; */
}
.brand img {
  width: 150px;
}
.navigation_items {
  padding-left: 10px;
}
.inner {
  margin: 0 auto;
  padding: 0 var(--ifm-spacing-horizontal);
}
:global(.navbar) {
  padding: 0 50px;
  display: flex;
}
:global(.dropdown) {
  cursor: pointer;
}
:global(.dropdown:hover .navbar__item) {
  color: var(--color-blue)
}
:global(.navbar__link::after) {
  display: none !important;
}